<ion-header>
  <ion-toolbar>
    <ion-title>Home Page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2>About us</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum alias aliquam quam quia, deserunt animi. Odit, reiciendis facilis, velit molestias recusandae suscipit ex, ratione aperiam excepturi illo commodi iusto perferendis? Ipsam sit nostrum repellat impedit laborum nesciunt nam voluptatem amet nemo eos nisi expedita voluptatibus iure distinctio eum magni labore suscipit aliquam eius ea, quisquam pariatur reprehenderit. Quas, soluta corporis eum corrupti minima accusantium aliquid facilis atque placeat architecto sint magni? Recusandae nisi, id quod voluptatum praesentium consequatur quibusdam consequuntur sed illum commodi aperiam sequi quis, ducimus dolores necessitatibus est doloremque rem, accusamus saepe? Eveniet eius expedita nemo quisquam iste.</p>
  <div class="center-bottom">
  <ion-button (click)="logout()" class="btn">Logout</ion-button>
</div>
</ion-content>
